/* common */

/* small screen */
body {
  margin: 0;
}

#header {
  position: fixed;
  height: 70px;
  width: 100%;
  background-color: gray;
  margin: 0;
}

#main-pannel {
  height: auto;
  width: 960px;
  margin: 0 auto;
  display: flex;
  padding: 70px 0 0;
}

#left {
  height: 400px;
  width: 700px;
  background-color: lightcoral;
}
#right {
  height: 400px;
  width: 260px;
  display: flex;
  flex-direction: column;
}
#upper {
  height: 300px;
  background-color: khaki;
}
#lower {
  height: 100px;
  background-color: azure;
}

#main-content {
  height: 250px;
  width: 960px;
  background-color:lightgreen;
  margin: 0 auto;
}

#footer{
  height: 60px;
  background-color: gray;
}


@media (max-width: 960px) {
  #main-pannel {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #right {
    height: 400px;
    width: 700px;
    display: flex;
    flex-direction: column;
  }
  #upper {
    height: 300px;
    background-color: khaki;
  }
  #lower {
    height: 100px;
    background-color: azure;
  }
} 


@media (max-width: 480px) {

} 



@media (max-width: 600px) {
}

