/* common */

/* small screen */
body {
  margin: 0;
}

#header {
  height: 70px;
  background-color: gray;
}

#main-pannel {
  height: auto;
  width: 960px;
  margin: 0 auto;
  display: flex;
}

#left {
  height: 400px;
  width: 700px;
  background-color: lightcoral;
}
#right {
  height: 400px;
  width: 260px;
  display: flex;
  flex-direction: column;
}
#upper {
  height: 300px;
  background-color: khaki;
}
#lower {
  height: 100px;
  background-color: azure;
}

#main-content {
  height: 250px;
  width: 960px;
  background-color:lightgreen;
  margin: 0 auto;
}

#footer{
  height: 60px;
  background-color: gray;
}


/* medium screen */
@media (min-width: 415px) {

} 

/* large screen */
@media (min-width: 960px) {

} 